@font-face {
    font-family: 'cammrondemo';
    src: url('cammrondemo-webfont.eot');
    src: url('cammrondemo-webfont.eot?#iefix') format('embedded-opentype'),
         url('cammrondemo-webfont.woff2') format('woff2'),
         url('cammrondemo-webfont.woff') format('woff'),
         url('cammrondemo-webfont.ttf') format('truetype'),
         url('cammrondemo-webfont.svg#cammrondemo') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bg-danger{
	background-color: #dc35458a !important;
}

.border-right{
	border-color: transparent !important;
}

.bg-blue{
	background-color: blue;
}


.bg-green{
	background-color: green;
}

.bg-yellow {
	background-color: yellow;
}

.bg-orange{
	background-color: orange;
}

.bg-pink{
	background-color: pink;
}


.photo-pepe-img-1{
	width: 100%;
}

.box-menu-absolute{
	z-index: 2100;
	width: 100%;
}

.main-logo{
	width: 70% !important;
	max-width: 446px !important;
}

#box-init p{
	margin: 0 auto;
	font-size: 12px;
	max-width: 500px;
	margin-top:50px;
	font-weight: 500;
}

.menu-box{
	height: 56px;
	position: absolute !important;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.photo-pepe-horizontal{
	width: 600px !important;
	max-width: 100% !important;
}

.face-cr{
	font-family: 'cammrondemo', Arial;
}

.menu li a{
	font-family: 'cammrondemo', Arial;
}

.font-large{
	font-size: xx-large;
}


#mobile-main a{
	font-size: xx-large;	
}

.movile-item-menu{
	font-size: 36px !important;
}

.icon-social-pepe{
	width: 64px;
}

.h-full{
	height: 100vh;
	min-height: 512px;
}


.h-full-5{
	height: 60vh !important;
	min-height: 512px;
}

.h-100p{
	height: 100%;
	min-height: 512px;
}


.overflow-auto{
	overflow: auto;
}

.menu-floating{
	z-index: 10;
	width: 99.5vw;
}


body{
	position: relative !important;
}


.menu-lang{
	position: absolute;
	width: 300px;
	z-index: 11;
	left: 0;
	right: 0;
	top:85px;
	margin: 0 auto;
	bottom: 0px;
}


.main-menu{
	/*left: 0;
	right: 0;
	margin: 0 auto;*/
}


.text-logo{
	width: 90%;
	max-width: 655px;
}

.photo-pepe{
	max-width: 600px;
	/*width: 72%;*/
	max-height: 100%;
}

.signature{
	max-width: 320px;
	width: 90%;
}

.description-menu{
	padding-left: 10%;
	padding-right: 10%;
	line-height: 13px;
	font-family: Arial;
	font-size: 13px;
}

.main-logo-category{
	width: 220px !important;
	margin-left: 120px;
}

.title-category{
	font-size: 40px;
	margin-left: -120px;
}

.title-category-main{
	font-size: 40px;
}

.description-menu-right{
	padding-left: 10%;
	padding-right: 10%;
	line-height: 17px;
	font-family: Arial;
	font-size: 14px;
}

nav{
	z-index: 99999 !important;
}

nav ul{
	list-style-type: none;
	position:relative;
    padding: 0;
    /*height: 56px;*/
}

nav ul li {
	display:inline;
	padding: 12px 0px 12px 0px;
	font-size: 22px;
}

nav ul li a{
	height: 0px;
}

.dropdown{
	max-height: 200px;
}

.dropdown-menu{
	margin-top: 16px;
	font-size:22px;
}

.dropdown-item{
	height: 40px;
}

li a{
	text-decoration: none;
	color:black;
}

li a:hover{
	text-decoration: none;
	color:black;
	font-weight: 500;
}

.dropdown-menu{
	text-align: center;
	background-color: transparent;
	border: none;
}

.border-right-lang{
	border-right:2px solid black !important;
}

.menu-lang a{
	color: black;
	font-size: 28px;
}

.navbar-light .navbar-nav .nav-link{
	color: black;
}



.menu-lang ul li span{
	width: 48px;
	height: 48px;
	padding: 16px;
	margin: -7px !important;
	
}


.mobile-main{
	z-index: 1013;
	width: 100%
}


.mobile ul{
	list-style-type: none;
	padding: 0;
}

.mobile ul li {
	display:block;
	padding: 0px;
	font-size: 27px;
	line-height: 58px;

}

.menu-list-mobile{
	z-index: 1011;
	height: 56px;
}

.menu-list-mobile img{
	width: 48px;
}


.preload{
	z-index: 3012;
}


.description-item div p{
	padding-left: 10%;
	padding-right: 10%;
	line-height: 14px;
	font-family: Arial;
	font-size: 12px;
}


.photo-item{
	width: 100%;
	max-width: 640px;
}


.bg-cover-pepe-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-pepe-cover.jpg");
    
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}


.bg-main-pepe-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-main-menu.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 110% 120%;
}

.box-social-icons a{
	text-decoration: none;
}

/*COVER CATEGORIAS*/
.bg-cover-collares-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-collares.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bg-cover-necklaces-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-collares.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}



.bg-cover-aretes-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-aretes.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bg-cover-earrings-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-aretes.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}


.bg-cover-anillos-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-anillos.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bg-cover-rings-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-anillos.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}


.bg-cover-pulseras-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-pulseras.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bg-cover-bracelets-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-pulseras.jpg");
    
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}


.nav-link:hover {
    color: black;
}

/*FIN COVER CATEGORIAS*/


.h-full-mobile{
	height: 100vh;
	min-height: 512px;
}


.bg-main-categoria-theme{
	/*bg-pepe-cover*/
	background-image: url("../img/bg-fondo-category.png");
    
	/*background-attachment: fixed;*/
    background-position: right;
    background-repeat: no-repeat;
	background-size: 110% 120%;
}

.bg-mini-bar-show{
	box-shadow: 0px 1px 6px #32373c80;
	/*background-color: #d3d9dc;*/
	animation: show-bar 0.5s;
	-webkit-animation: show-bar 0.5s;
}


@keyframes show-bar {
    from {

    	box-shadow: 0px 1px 6px transparent;
		background-color: transparent;
    	
    }
    
    to {
    	
    	box-shadow: 0px 1px 6px #32373c80;
		background-color: #d3d9dc;
    }
}


.bg-mini-bar-hide{
	box-shadow: 0px 1px 6px transparent;
	background-color: transparent;
	animation: hide-bar 1s;
	-webkit-animation: hide-bar 1s;
}


@keyframes hide-bar {
    from {
    	box-shadow: 0px 1px 6px #32373c80;
		background-color: #d3d9dc;    
    }
    
    to {
    	box-shadow: 0px 1px 6px transparent;
		background-color: transparent;
    }
}



.bg-main-item{
	/*bg-pepe-cover*/
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}


#list-menu{
	width: 32px;
}

#box-menu-list-mobile{
	z-index: 10000;
	padding-right: 6px;
	padding-top: 6px;
}


li.active a{
	/*font-size: 19px;*/
}



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

	.line-menu{
		width: 95% !important;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	
	.border-right{ border-color: black !important; }
	
	nav ul li {
		font-size: 17px;
		padding: 2px 0px 2px 0px;
	}

	.nav-item{
		height: 26px !important;
		line-height: 5px;
	}

	.navbar-collapse{
		height: 32px;
	}

	.navbar-collapse{
		margin-left: 56px;

	}

	.navbar{
		padding-top: 76px;
	}

	.dropdown-item{
		height: 30px;
		line-height: 16px;
	}

	.dropdown-menu{
		padding-right: 0px;
		border-radius: 0px;
		padding-top: 24px;
		min-width: 146px !important;
		margin-top: 0px;
	    text-align: left;
	    background: #8a969e30;
	    font-size: 16px;

	}

	.photo-pepe{		
		width: 100%;
		/*max-height: 90%;*/
	}


	.item-view p{
		text-align: justify !important;
	}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 }


















/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
	.description-menu-right{
		font-size: 15px;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .bg-main-item{
	    background-position: center;
	}

	.box-title-category{
		margin-top: -200px;
	}

	.h-full-mobile{
		height: 50vh !important;
		min-height: 485px !important;
	}

	.description-menu-right{
		font-size: 16px;
	}

	.h-500-px{
		height: 632px !important;
	}

	.bg-cover-pepe-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-fondo-category.png");
    }


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .bg-main-item{
	    background-position: left;
	}
  
  .bg-cover-pepe-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-pepe-cover.jpg");
	    
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
		background-size: cover;
	}

	.item-view{
		height: 500px !important;
	}




  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  	.box-title-category{
		margin-top: -200px;
	}

	.h-full-mobile{
		height: 50vh !important;
		min-height: 485px !important;
	}
  	
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .photo-pepe{
	 width: 100%;
   }

   	.box-title-category{
		margin-top: -200px;
	}

	.h-full-mobile{
		height: 50vh !important;
		min-height: 485px !important;
	}


	.bg-cover-pepe-theme{
	    background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
	}

	.item-view{
		height: auto !important;


	}

	.bg-cover-pepe-theme{
		background-attachment: fixed;
	}
  



  	/*COVER CATEGORIAS*/
	.bg-cover-collares-theme{
		background-image: url("../img/bg-collares-b1.jpg");
	}

	.bg-cover-necklaces-theme{
		background-image: url("../img/bg-collares-b1.jpg");
	}

	.bg-cover-aretes-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-aretes-b1.jpg");
	}

	.bg-cover-earrings-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-aretes-b1.jpg");
	}


	.bg-cover-anillos-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-anillos-b1.jpg");
	}

	.bg-cover-rings-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-anillos-b1.jpg");
	}


	.bg-cover-pulseras-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-pulseras-b2.jpg");
	}

	.bg-cover-bracelets-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-pulseras-b2.jpg");
	}


	.menu-lang{
		top:20px;		
	}

	.border-right-lang{
		border-right:1px solid black !important;
	}


	.bg-cover-pepe-theme{
		/*bg-pepe-cover*/
		background-image: url("../img/bg-pepe-cover-movil.jpg");
    }

}

.close-menu{
	width: 30px;
    margin-top: 12px;
    margin-right: -2px;
}


.h-500-px{
	height: 600px;
}


.content-img-item{
	padding-right: 0 !important;
	padding-left: 0 !important;
	width: 100%;
}





.h-full-50{
	height: 320px;
}

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0;
}

.nav-tabs {
    text-align: center;
}

.tabbable-line > .nav-tabs > li {
   margin: 2px;

}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}


.nav-tabs .nav-link.active{
	color: #f8f9fa;
    background-color: #1d2124;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 25px;
}

.nav-link:hover{
	border-radius: 25px;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-link {
    margin: 4px;
    color: black;
}

.nav-tabs {
    border-bottom: 1px solid white;
}

.img-publish-pepe{
	max-width: 194px;
	width: 100%;
	max-height: 254px;
	border-radius: 4px;
}

.img-publish-pepe:hover{
	cursor: pointer;
}

.pswp__bg {
	background-color: #000000e0 !important;
}

/*SCROLL STYLES*/

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #919EA4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343636; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}


/*BLOG*/

.img-post-em{
	width: 100%;
}

.rem-1-5{
	font-size: 1.2em;
}

.box-container-img-post-em{
	padding: 0px;
}

.title-blog{
	font-size: 4em;
}

.bg-fixed{
	background-repeat: no-repeat; 
	/*background-position: 10% 10%;*/ 
	background-attachment: fixed;
}

.link-post{
	color: black;
}

.link-post:hover{
	color: #484848;
	text-decoration: none;
}


/*Content Blog*/

.img-cover-blog{
	width: 100%;
}

.overflow-content{
	overflow-x: none;
	overflow-y: scroll;
}

.box-image img{
	width: 100%;
	height: auto;
}

.box-image{
	max-width: 250x;
}

.box-image p{
	width: 100%;
	font-size: 10px;
	line-height: 13px;
}

p{
	color: black;
}


.box-image h1{
	width: 100%;
	font-size: 13px;
	font-weight: 900;
	line-height: 16px;

}

.bg-white{
	background-color: white;
}

.box-image a{
	color: black !important; 
	text-decoration: none;
}


.blog h1{
	font-size: 20px;
	/*font-weight: 700;*/
}

.container-blog p
{
	width: 70%;
	max-width: 400px;
	font-size: 13px;
	margin: auto !important;
    text-align: left !important;

}

.title-blog-page{
	font-size: 48px !important;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
}

.line-menu{
	
	margin: 0 auto;
	position: absolute;
	background: black;
	width: 92%;
	height: 2px;
	left: 0px;
	right: 0px;
	top:60px;
}

.navbar-toggler{
	padding-top: 0px !important;
}


.box-next-post img{
	width: 128px;
	height: 128px;
}

.box-next-post a{
	color: black;
	text-decoration: none;
}

.pswp{
	z-index: 99999 !important;
}


.nav-tabs {
    border-bottom: 1px solid transparent !important;
}


.hh-auto{
	height: auto !important;
}


.cc-blog{
	z-index: 9999 !important;
}


#box-preload{
	z-index: 10000;
}

.tel {
	font-size: 21px;
}

.tel a{
	color: black;
	text-decoration: none;
}

.bg-wrap-movil{
	
	clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

